.container {
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    padding: 5%;
    margin: 0 auto;
}  
.container.container-login {
    background-image: url(../img/bg_img3.png);
}   
.form_wrapper {
    margin: 10% auto;
    width: 800px; 
    height: 500px; 
    border: 1px solid #fff;
    text-align: center;
    background-color: #000;
    opacity: 0.7; 
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.form_wrapper form {
    display: inline-block;    
    padding: 30px 50px;
    width: 300px;
}
.form_wrapper form input {
    height: 30px;
    padding: 2px 4px;
    border-radius: 5%;
    border: 1px solid #fff;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size:14px;
}
.form_wrapper form label {
    margin-bottom: 10px;
    display: inline-block;
    font-size:14px;
}
.form_wrapper form input[type="button"] {
    cursor: pointer;
    padding: 2px 10px;
    color: #000;
    font-size: 14px;
    width: auto;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 500px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
/*    left: 50%;*/
    right: 10%;
    bottom: 100px;
    font-size: 16px;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#snackbar.hide {
    visibility: hidden;
}